.ajax_loader
  font-size: 13px
  line-height: 15px
  img
    float: left
    margin-right: 5px
    
#status
  display: none
  padding: 5px
  margin: 10px
  border: solid #ddd 1px
  background: #fff
  
  
//-------------------------------------------------------------------------------- Tooltips
    
.tooltip-popup
  border: 3px solid #6EB1CE
  background: #F2F2F2 url(/css_images/gradient_white_grey_long.gif) top repeat-x
  padding: 5px 10px
  color: #000
  font: 11px arial
  z-index:100
  -moz-border-radius: 5px
  -webkit-border-radius: 5px
  -webkit-border-radius: 5px
  width: 300px
  text-align: left
  p
    line-height
  b
    font-weight: bold