.users
  overflow: hidden
  margin-bottom: 15px
  _height: 1%
  .user
    float: left
    width: 135px
    text-align: center
    .avatar
    .name
      font-weight: bold
      font-size: 12px
    .relationship
      color: #999
      display: inline
      font-size: 10px
      
  .user_profile
    overflow: hidden
    _height: 1%
    margin-bottom: 10px
    line-height: 18px
    border: solid #ddd 1px
    padding: 5px
    margin-bottom: 10px
    .rsvp
      background: #ddd
      overflow: hidden
      padding: 5px 0  5px 5px
      margin-bottom: 5px
      .question, .answer
        font: 16px/30px Lucida Grande, Helvetice, Arial, sans-serif
        float: left
      .answer
        padding-right: 5px
        float: right
        a
          margin-left: 5px
      .ajax_loader
        padding-right: 5px
        float: right
        display: none
      .food_restrictions
        clear: both
        .label
          width: auto
        .submit_element
          padding-left: 0
        #user_food_restrictions
          width: 515px
    .avatar
      float: left
      margin-right: 10px
    .details
      padding-right: 5px
      .links
        a
          float: right
      .name
        font-weight: bold
        font-size: 12px
        float: left
      .relationship
        color: #999
        font-size: 10px
        margin-left: 5px
      .email
        color: #999
        clear: both
      .description
        padding-top: 5px

        
  