.users
  overflow: hidden
  margin-bottom: 15px
  .user
    float: left
    width: 135px
    text-align: center
    .avatar
    .name
      font-weight: bold
      font-size: 12px
    .relationship
      color: #999
      display: inline
      font-size: 10px
      
  .user_profile
    overflow: hidden
    margin-bottom: 10px
    line-height: 18px
    border-bottom: solid #ddd 1px
    padding-bottom: 10px
    .avatar
      float: left
      margin-right: 10px
    .details
      float: left
      .name
        font-weight: bold
        font-size: 12px
      .relationship
        color: #999
        display: inline
        font-size: 10px
      .links
  