.users
  overflow: hidden
  margin-bottom: 15px
  .user
    float: left
    width: 135px
    text-align: center
    .avatar
    .name
      font-weight: bold
      font-size: 12px
    .relationship
      color: #999
      display: inline
      font-size: 10px
      
