:javascript
  $(document).ready(function() {
    $('#user_password').focus();
  })

%h1 Hi #{@user.first_name}

%p Welcome to our website. We're glad to have you aboard.
%p To activate your account please pick a password.


- formatted_form_for @user, :url => change_password_path(:email_validation_key => params[:email_validation_key]), :html => {:method => :put} do |f|
  = f.password_field :password, :autocomplete => :off, :desc => 'Enter a word with at least 4 characters'
  = f.password_field :password_confirmation, :desc => 'Enter the password again just to make sure you got it right'
  = f.submit "Save"
