%h1 Dashboard for #{session_user.name}

%table.user_profile
  %tr
    %td.avatar= image_tag session_user.avatar.url
    %td
      .name= session_user.name
      - unless session_user.relationship.blank?
        .relationship (#{session_user.relationship})
