%title= header_title

= stylesheet_link_tag 'reset', 'typography', 'structure', 'forms', 'common', 'content', 'user', :cache => '_base'
= javascript_include_tag 'jquery', 'application', :cache => 'base'

= yield :head